
body .container
{
    margin: 20px;
    padding: 20px;
    border-style: none ;

}
.logo
{
    margin: 10px;
    padding: 10px;
    border: none;
}
.bg-ceder
{
    background-color:rgb(138, 91, 69) ;
}
.nav-link
{
    margin: 0px 30px;
}
.rowmy-4
{
    font-size: 40px;
}
.list-group-item
{
    font-size: 16px;
}